body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #181c1f;
}
.tudo
{
    align-items: center;
}
.esq
{
    display: flex;
    text-align: left;
    border: 20px;
}
.dir
{
    display: flex;
    text-align: right;
    border: 20px;
}